@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.hero{
  width: 100%;
  height: 100vh;
   background: black;
  background-image: url("images/516983.png");
  background-image: no-repeat;
   background-size: 100% auto;
   background-position: center;
   background-attachment: fixed;
   position: relative;
   overflow-y: auto;
   overflow-x: hidden;
}


/* @media only screen and (max-width: 1024px){
  .hero {
  }
} */


@media (max-width: 768px) {
  .container,
  .header{
    display: none;
  }
  
  .mobile-menu-bar {
    display:flex!important;;
  }
  
  /* .getstartedbtn, .getstartedbtn-bkgrd {
    transform-origin:center bottom;
    scale: .75;
  } */
  
  .content {
    margin: auto auto;
  }

  .ban-1-title {
    margin-left: -160px;
    margin-right: -160px;
  }
  
}

@media (max-width: 768px) {
  
  .ban-2 > h2, .ban-2 > p {
    transform-origin:top left;
    scale: .80;
  }
  
  .ban-2 > p {
    margin-bottom: -20px;
  }
  .psychic-card {
    transform-origin:top left;
    scale: .75;
    margin-bottom: -100px;
    margin-right: -60px;
  }

  
  .content-3 {
    transform-origin:top center;
    scale: .75;
    margin-bottom: -120px;
    /* padding-right: -40px; */
    
  }

  .ban-3-container > h2 {
    transform-origin:top left;
    scale: .80;
    margin-bottom: -20px;
  }
  
  .soc-app {
    margin-top: 20px;
  }
  
  
  .col-5 {
   scale: .75;
   
  }
  
  
  .content-6  {
    scale: .75;
    margin: -50px -150px -30px -150px;
  }
.ban-6-container > h2, .ban-6-container > p {
  scale: .80; 
  transform-origin:top left;
  margin-right: -160px;
}
.ban-7-container > h2, .ban-7-container > p {
  scale: .80; 
  transform-origin:top left;
}

.ban-7-container > p {
  margin-bottom: -10px;
}

.ban-7-container .content-7-footer {
  scale: .90;
  transform-origin:top center;
  margin-bottom: -2px;
}

.offers {
  display: flex ;
  max-width: 100%;
  /* width: 1440px ; */
  flex-direction: row;
  text-align: center;
  /* justify-content: center; */
  /* flex: 1; */
  /* margin: 25px auto 25px; */
  /* text-align: center;
  justify-content: center; */
}

.offers > ul {
  /* width: 140px; */
  /* max-width: 100%; */
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow: auto;
}

.offers > ul::-webkit-scrollbar{
  display: none;
}

.offers > ul > div{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 12px;
  /* justify-content: center; */
  /* align-items: center; */
  flex: none;
}

.offers .offers-glass:first-child {
  margin-left: 16px;
}

.offers .offers-glass:last-child {
  margin-right: 16px;
}



.offers i {
  display: flex !important;
  flex-direction: row;
}

.ban-8-container > h2, .ban-8-container > p {
  scale: .80; 
  transform-origin:top left;
  margin-right: -80px;
}

.content-8 {
  scale: .80; 
  margin-top: -30px;
  margin-bottom: -40px;
}

.ban-9-container > h2, .ban-9-container > p {
  scale: .80;
  transform-origin:top left;
}

.ban-9-container > p {
  margin: -20px 0px -30px 0px;
}

.content-9 {
  scale: .80;
  transform-origin:top center;
  margin-bottom: -60px;
}

  .content-9 div {
    padding-bottom: 10px;
    
  }

  .content-10 {
    margin: 0px -30px 0px -30px;
  }

  .ban-10-container h2, .ban-10-container p {
    scale: .80;
    transform-origin:top center;

  }

  .ban-10-container p {
    margin: -5px 0px -25px 0px;
  }
  

  .content-11 {
    transform-origin:top center;
    scale: .75;
    margin-bottom: -120px;
    /* padding-right: -40px; */
    
  }

  .ban-11-container > h2 {
    transform-origin:top left;
    scale: .80;
    margin-bottom: -20px;
  }
  
}

@media (max-width: 642px) {
  .content-3 {
   margin-bottom: -120px;
   margin-left: -100px;
   margin-right: -100px;
  }

  .content-11 {
    margin-bottom: -140px;
    margin-left: -80px;
    margin-right: -80px;
   }

  /* .ban-3-container {
    padding-bottom: -130px;
  } */

  .content-12 {
    margin-left: -60px;
    margin-right: -60px;
    margin-top: -40px;
    margin-bottom: -40px;
    scale: .80;
  }

}

h1 {
  text-shadow: rgba(33,41,104,0.7) 1px 0 10px;
  line-height: 36px;
  color: rgb(119, 217, 230);
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

h2 {
  text-shadow: rgba(33,41,104,0.7) 1px 0 10px;
  font-size:  27px;
  line-height: 36px;
  color: rgb(119, 217, 230);
}

h3 {
  text-shadow: rgba(33,41,104,0.7) 1px 0 10px;
}

.header {
  display: flex auto;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -3px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position: relative;
  background: linear-gradient(to right top,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  list-style: none;
  justify-content: space-between;
  backdrop-filter: blur(.25rem);
}

.header ul {
  font-size: 12;
}


.header li, .header span {
  padding-left: 10px;
}

.header li a {
  text-decoration: none;
  color: rgb(119, 217, 230);
  
}

.header h3 {
  text-overflow: none;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 16px;
  padding: 5px 0px;
}

.header hr {
  margin-left: 12px;
  border: 2px inset;
  margin-top: 2px
}

.mobile-menu-bar {
  display: none;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -3px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position: relative;
  justify-content: space-between;
  background: linear-gradient(to right top,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  list-style: none;
  text-overflow: none;
  backdrop-filter: blur(.25rem);
}
.menu-bar-logo {
  margin-left: 30px;
}

.container {
  position: relative;
  z-index: 100;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -3px;
  padding: 0 0px; 
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  backdrop-filter: blur(.25rem);
}

.logo {
  position: center;
  cursor: pointer;
  padding-right: 20px;
  margin-left: 20px;
  transition: scale 0.2 ease;
}


.account-toggle-btn, .menu-bar-logo {
  cursor: pointer;
  padding-top: 4px;

}

.logo:hover, .account-toggle-btn:hover, .menu-bar-logo:hover, .menu-toggle-btn:hover, .connect:hover, .see-all-psychics-btn:hover, .join-now-btn:hover, .new-customer-rate-btn:hover, .how-it-works-btn:hover, .match-me-btn:hover {
  scale: 1.02;
}

.logo:active, .account-toggle-btn:active, .menu-bar-logo:active, .menu-toggle-btn:active, .getstartedbtn:active, .getstartedbtn-bkgrd:active, .connect:active, .see-all-psychics-btn:active, .join-now-btn:active, .new-customer-rate-btn:active, .how-it-works-btn:active, .match-me-btn:active {
  scale: 0.98;
}
.right {
    display: flex;
    flex-wrap: wrap;
   flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 8px;
  
  }

/*   .right > * {
 
  } */


  .right ul {
    list-style: none;
    display: grid;
    font-size: 12px;
    font-family: inherit;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    padding: 0px 8px;
  }

  .accounts {
    flex-direction: row;
    display: flex;
    flex: 0.5 0 1;
  }

  .mobile-menu-bar .menu-toggle-btn {
    color: rgb(119, 217, 230);
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 6px;
  }

  .right .search-button {
    color: rgb(119, 217, 230);
    font-size: 1rem;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 14px;
  }

  .right hr {
    margin-top: 16px;
    border: 2px inset;
  }

  .search-bar {
    padding-left: 15px;
  }

  .search-bar, .sign-in-email, .sign-in-password {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropbtn1, .dropbtn2 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(119, 217, 230);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.sign-in-dropdown a {
  color:rgb(119, 217, 230);
  text-decoration: none;
  width: 160px;
  padding: 7px 8px;
  background: transparent;
  border: 3px solid rgb(119, 217, 230);
  border-radius: 10px;
  flex: 1;
  display: flex;
  text-align: center;
  backdrop-filter: blur(2rem);
  justify-content: center;
  box-shadow: 3px 6px 3px whitesmoke;
}

.sign-in-dropdown i {
  margin-left: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 999;
  padding: 10px 25px;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 3px solid rgb(119, 217, 230);
  border-radius: 20px;
  outline: none;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 

}

.dropdown-content > * {
  font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(119, 217, 230);
    background-color: inherit;
    font-family: inherit;
    padding-bottom: 10px;
   
}

.dropdown-content li {
  margin-top: 10px;
  margin-left: -8px;

}

.show {
  display: block;
}

.navbar-top{
  width: 100%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px 132px;
  background: transparent;
  outline: none;
  overflow: hidden;
  text-align: center;
}
nav {
  flex: 1;
  margin-top: -10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

nav ul {
  display: grid;
  list-style: none;
  margin-top: 0px;
  font-size: 12px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: inherit;
  font-family: inherit;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  padding: 0px 0px;
  box-shadow: 3px 6px 3px rgb(119, 217, 230);
  justify-content: center;
  align-items: center;
}

nav ul li{
  margin: 1px;
}

/* nav ul:hover{
  overflow: visible !important;
} */

nav li a {
  color:rgb(119, 217, 230);
  text-decoration: none;
  width: 200px;
  padding: 7px 8px;
  background: transparent;
  border: 3px solid rgb(119, 217, 230);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2rem);
  text-align: wrap;
  box-shadow: 3px 6px 3px whitesmoke;
}

nav li a i {
  margin-left: 10px;
}



.psychics-dropdown, .horoscopes-dropdown, .blog-dropdown, .about-dropdown, .readingtopics {
  float: right;
  display: none;
}


.navbar-top a:hover, nav a:hover {
  outline: 3px solid rgb(119, 217, 230);
  border-radius: 10px;
  font-weight:700;
}

.getstartedbtn:hover {
outline: 3px solid rgb(119, 217, 230);
height: 148px;
width: 148px;
border-radius: 50%;
font-size: 28px;
}

nav ul li:hover .psychics-dropdown, nav ul li:hover .horoscopes-dropdown, nav ul li:hover .blog-dropdown, nav ul li:hover .about-dropdown  {
  display: flex;
  position: absolute;
  width: 200px;
  outline: none;
  color: rgb(119, 217, 230);
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 3px solid rgb(119, 217, 230);
  border-radius: 10px;
  padding-top: -300px ;
  z-index: 888;
  backdrop-filter: blur(2rem);
  transform: 0.5s;
}

nav ul li:hover {
  z-index: 889;
}

/* .sub-menu {
} */

.sub-menu:hover .readingtopics {
position: absolute;
display: flex;
outline: none;
width: 200px;
background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
border: 3px solid rgb(119, 217, 230);
border-radius: 10px;
margin-left: 180px;
margin-top: -40px;
transform: 0.5s;
backdrop-filter: blur(2rem);
z-index: 889;
}

/* .readingtopics:hover {  
} */

/* nav ul li:hover .psychics-dropdown ul {
} */

/* Global Styles */

body {
  min-height: 100%;
  background-color: transparent;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
	padding: 0;
	overflow: hidden;
	--sz: 5px; /*** size ***/
	--sp: .5s; /*** speed ***/
	--b1: #3c3532;
	--b2: #1c1b18;
	--b3: #0c0b0a;
	--b4: #0c0b0ae0;
	--c1: #e399ff;
	--ts: 50%/calc(var(--sz) * 17.5) calc(var(--sz) * 29.5);
}
.navbar-top a:hover, nav a:hover, .logo:hover, .getstartedbtn:hover, .logo:hover, .account-toggle-btn:hover, .menu-bar-logo:hover, .menu-toggle-btn:hover, .connect:hover, .see-all-psychics-btn:hover, .join-now-btn:hover, .new-customer-rate-btn:hover, .how-it-works-btn:hover, .match-me-btn:hover {
		/* bg */
	animation: colors var(--sp) linear 0s infinite;
}

@keyframes colors {
	100% { filter: hue-rotate(360deg); }
}

.content {
  margin: auto 60px;
}
.ban-1 {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  backdrop-filter: blur(.25rem);
  height: 400px;
}

.col-1 {
  outline: none;
  display: flex;
  justify-content: center;
  position: relative;
}

.col-1 text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  z-index: 1;
  font-family: 'Luckiest Guy', cursive;
  font-size: 35px;
  fill: white;
}

path {
  fill: transparent;
}

.bg-image1{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px;
  outline: none;

}

.bg-image1 img {
  max-height: 380px;
  transform-origin:center;
  max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  object-fit: cover;
  /* border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgb(119, 217, 230); */

}

.bg-image1 .image1 {
  position: relative;
  width: 500px;
  /* top: 30px;
  left: 30px; */
}

.bg-image1 .image2 {
  position: absolute;
  /* top: 30px;
  left: 30px; */
}

.bg-image1 .image3 {
  position: absolute;
  /* top: 30px;
  left: 30px; */
}

.ban-1-title {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  height: 100px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.2),rgba(244,244,242,0.1));
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 555;
}

/* .ban-1-title-col {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* padding-left: 30px; */
/* } */ */


.ban-1-title h2 {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

/* .match-me-btn button img {
  opacity: 10%;
}

.match-me-btn button {
  margin-left: 20px;
  cursor: pointer;
  font-family: fantasy;
  font-size: 21px;
  /* bottom: 160px; */
  /* padding-left: -200px;
  font-weight: 500;
  color: rgba(119, 217, 230, 0.9);
  background: linear-gradient(to right bottom,rgba(96, 36, 122, 0.9),rgba(119, 217, 230, 0.9));
  border: 4px solid rgb(119, 217, 230);
  border-radius: 50%;
  z-index: 3;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.7) 1px 0 10px;
  transform-origin:center;
  scale: .80; */ */

.bg-image2 {
  width: 150%;

  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px;
  outline: none;

}

.bg-image2 div img {
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgb(119, 217, 230);
}

.getstarted {
  display: grid;
  place-items: center;
}

.getstartedbtn {
  cursor: pointer;
  position: absolute;
  font-family: fantasy;
  font-size: 27px;

  /* bottom: 174px; */

  font-weight: 500;
  color: rgba(119, 217, 230, 0.9);
  background: transparent;
  border: 7px solid rgb(119, 217, 230);
  height: 148px;
  width: 148px;
  border-radius: 50%;
  z-index: 3;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.7) 1px 0 10px;

 
}


.getstartedbtn-bkgrd {
 
  cursor: pointer;
  font-family: fantasy;
  font-size: 27px;
  font-weight: 500;
  /* bottom: 174px; */

  position: absolute;
  background: linear-gradient(to right bottom,rgba(96, 36, 122, 0.9),rgba(119, 217, 230, 0.9));
  height: 148px;
  width: 148px;
  border-radius: 50%;
  z-index: 2;
  backdrop-filter: blur(.1rem);
  box-shadow: 5px 10px 5px rgba(255, 255, 255, 0.95);

}

.psychics-gallery {
  width: 1156px;
  max-width: 100%;
  display: flex;
  margin: 25px auto;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;

}

overflow-x {
  object-fit: cover;
}

.psychics-gallery div{
  padding: 10px;
  flex: none;
}

.psychics-gallery div img{
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 5px 8px 5px rgba(255, 255, 255, 0.2);
  
}

.psychic-card {
  position: relative;
  max-width: 256px;
  
}

.psychic-card img {
  scale: 1;
}

.psychic-card button{

  bottom: 140px;
  left: -10px;
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
}

.psychic-card p{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 2px;
}

.card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: -8px;
  height: 40px;
  width: 254px;
}

.card-text h4 {
  margin-top: 4px;
  padding-left: 24px;
  font-size: 14px;
}

.card-text i {
  color: rgb(119, 217, 230);
}

.card-text-price{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: -10px;
  margin-left: -8px;
  height: 40px;
}

.card-text-price h4:nth-child(1){
  color: rgb(119, 230, 124);
  text-shadow: rgba(255, 255, 255, 0.7) 1px 0 10px;

}

.card-text-price h4:nth-child(2){
  text-decoration: line-through rgb(230, 119, 119);
  padding-left: 0.25rem;
}

.card-text-price i {
  color: rgb(119, 217, 230);
}



.connect {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  margin: 25px 50px;
  color:rgb(119, 217, 230);
  width: 180px;
  padding: 0px 0px;
  background: transparent;
  border: 3px solid rgb(119, 217, 230);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content-2 {
  margin-top: -200px;
}

.ban-2 {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.2),rgba(244,244,242,0.1));
  backdrop-filter: blur(1rem);
  padding: 30px;
}

.ban-3-container {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: transparent;
  backdrop-filter: blur(0rem);
  padding: 30px;
}


.topics {
  max-width: 100%;
  width: 1156px;
  display: flex;
  flex: 1;
  margin: 25px auto 25px;
  flex-direction: column;
}

.topics ul{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  font-size: 20px;
  flex: 0 1 0;
  justify-content: center;
  align-items: center;

  
}

.topics ul div {
  position: relative;
  /* backdrop-filter: blur (3rem); */
}

.topics ul img{
  width: 108px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgb(119, 217, 230);
  
}

/* .topics ul div {
} */

.topics li {
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.topics-glass{
  position: relative;
  outline: none;
  color: rgb(119, 217, 230);
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px 30px;
  max-width: 172px;
  backdrop-filter: blur(2rem);
}

/* .topic-1 text{
}
 */
 
.see-all-psychics {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-bottom: 10px;
}
.see-all-psychics-btn {
  cursor: pointer;
  font-family: fantasy;
  font-size: 21px;
  font-weight: 300;
  color: rgba(119, 217, 230, 0.9);
  background: 
              /* linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(254,254,252,0.7)), */
              linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 4px solid rgba(119, 217, 230, 0.85);
  border-radius: 10px;
  padding: 8px 60px;
  text-align: center;
  backdrop-filter: blur (2rem);
  box-shadow: 3px 6px 3px rgb(119, 217, 230);
  text-shadow: rgba(255, 255, 255, 0.7) 1px 0 10px;
}

.bg-image3{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px;
  outline: none;
  opacity: 50%;
}

.bg-image3 div img {
  width: 100%;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgb(119, 217, 230);
  
}

.logo-ban {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.logo-ban-flip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: rotate(180deg); 
  transform-origin: center top;
  margin-top: 60px;
  /* margin-bottom: -180px; */
}

.ban-4 {
  margin: 0px auto;
  border-top: 3px solid rgb(119, 217, 230);
  border-radius: 10px;
  outline: none;
  background: transparent;
  /* backdrop-filter: blur(.1rem); */
  padding: 320px;
  border-inline-width: 500px;
 
}

/* .ban-3 .topics {
} */

.ban-4-logo img {
  display: flex;
  position: relative;
  margin-top: -40px;
  z-index: 888;
}

.ban-5 {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  backdrop-filter: blur(.25rem);
  
}

.col-5 {
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  padding-left: 30px;
}

.content-5 {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  
}

.col-5 h2 {
  font-size: 36px
}

.match-me-btn button img {
  opacity: 10%;
}

.match-me-btn button {
  margin-left: 20px;
  cursor: pointer;
  font-family: fantasy;
  font-size: 21px;
  /* bottom: 160px; */
  padding-left: -200px;
  font-weight: 500;
  color: rgba(119, 217, 230, 0.9);
  background: linear-gradient(to right bottom,rgba(96, 36, 122, 0.9),rgba(119, 217, 230, 0.9));
  border: 4px solid rgb(119, 217, 230);
  border-radius: 50%;
  z-index: 3;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.7) 1px 0 10px;
  transform-origin:center;
  scale: .80;
}
.match-me-btn button h2 {
  position: absolute;
  margin-top: 42px;
  margin-left: 12px;
}

.ban-6-container {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  backdrop-filter: blur(.25rem);
  padding: 30px;
}

.ban-6 {
  margin-top: -570px;
  position: relative;
}

.ban-6-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ban-6 p{
  font-size: 18px;
  padding-bottom: 10px;
}

.content-6 {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-6 div{
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.content-6 i{
 color:  rgb(119, 217, 230);
 font-size: 4rem;
 padding-right: 2px;
}

.content-6 .perk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.join-now {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.join-now-btn {
  cursor: pointer;
  font-family: fantasy;
  font-size: 21px;
  font-weight: 300;
  color: rgba(119, 217, 230, 0.9);
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 4px solid rgba(119, 217, 230, 0.85);
  border-radius: 10px;
  padding: 8px 60px;
  text-align: center;
  backdrop-filter: blur 2rem;
  box-shadow: 3px 6px 3px rgb(119, 217, 230);
  text-shadow: rgba(255, 255, 255, 0.7) 1px 0 10px;
}

.ban-7-container {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: transparent;
  /* backdrop-filter: blur(.1rem); */
  padding: 30px;
}


.content-7 {
  position: relative;
  /* width: 1000px; */
}

.offers {
  /* max-width: 100%; */
  /* width: 900px; */
  display: flex;
  /* flex: 1; */
  margin: 25px auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.offers i {
  position: relative;
  font-size: 42px;
  cursor: pointer;
  display: none;
  z-index: 999;
  /* display: flex;
  flex-direction: row; */
}

.offers-glass > ul {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 25px;
  padding: 10px;
  font-size: 20px;
  /* flex: 0 1 0; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.offers .glass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* width: 1156px; */
  flex-wrap: wrap;
  grid-gap:20px;
  
  /* max-width: 100%;
  width: 11560px; */
}
.offers img{
  width: 108px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgb(119, 217, 230);
  
}


.offers-glass{
  position: relative;
  outline: none;
  color: rgb(119, 217, 230);
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px 30px;
  width: 336px;
  max-width: 336px;
  z-index: 666;
  

}

.offers-glass p {
  color: white;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 12px;
  text-align: center;
}

.offers-glass ul {
  padding-left: 30px;
  padding-bottom: 30px;
  justify-content: left;
}

.offers-glass ul li {
  list-style-type: disc;
}


.offers-glass li {
  color: white;
  font-size: 14.5px;
  text-align: left;
  height: 10px;
}

.offers-glass hr {
  max-width: 25%;
  margin: 12px auto;
  border: 2px inset;
}

.new-customer-rate {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.new-customer-rate-btn {
  cursor: pointer;
  font-family: fantasy;
  font-size: 21px;
  font-weight: 300;
  color: rgba(119, 217, 230, 0.9);
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 4px solid rgba(119, 217, 230, 0.85);
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 0px;
  text-align: center;
  backdrop-filter: blur 2rem;
  box-shadow: 3px 6px 3px rgb(119, 217, 230);
  text-shadow: rgba(255, 255, 255, 0.7) 1px 0 10px;
}

.new-customer-rate h2 {
  text-shadow: rgba(255, 255, 255, 0.7) 1px 0 10px;
}

.content-7-footer{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px;
  outline: none;
  opacity: 80%;
  text-align: center;
}

.ban-8-container {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  /* position:absolute center; */
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  backdrop-filter: blur(.1rem);
  padding: 30px;
  min-width: 50%;
  flex: 2;
}



.ban-8 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ban-8 p{
  font-size: 18px;
}

.content-8 {
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-left: -20px; */
  /* margin-right: -10px; */
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
}

.content-8 i{
 color:  rgb(119, 217, 230);
 font-size: 3rem;
 padding-right: 8px;
 /* margin-right: -20px; */
 /* margin-top: 20px; */
}



.content-8 .perk {
  display: flex;
  flex-direction: row;
  flex: 1;
  /* margin-left: -60px; */
}


.content-8 h3 {
  line-height: 1.5rem;
  width: 260px;
}

.ban-8-container p {
  font-size: 14px;
}


.ban-8-container2 {
  /* max-width: 50%; */
  margin: 0px auto;;
  border-radius: 10px;
  outline: none;
  position:relative center;
  background: transparent;
  backdrop-filter: blur(.1rem);
  padding: 30px;
  display: flex;
  justify-content: center;
  flex: 1 0 1;
  /* flex-shrink: 1; */
  /* width: 100%; */
  /* height: 100%; */
  overflow: hidden;
}

.ban-8-container2 iframe {
  min-width: 100%; 
  min-height: 100%; 
  object-fit: cover;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  /* width: auto;
  height: auto; */

  /* Center the video */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}


.ban-9-container {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  backdrop-filter: blur(.1rem);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ban-9 {
  position: relative;
}

.ban-9 p{
  font-size: 18px;
  padding: 16px 0px;
}

.content-9 {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-9 h4 {
  font-size: 18px;
}


.content-9 i{
 color:  rgb(119, 217, 230);
 font-size: 3rem;
 padding-right: 6px;
}

.content-9 div {
  flex: 0.5 1 0;
  padding-right: 20px;
  padding-left: 20px;

}

.content-9 .perk {
  display: flex;
  
}

.ban-9-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ban-10 {
  margin-top: -570px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ban-10-container {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  backdrop-filter: blur(.1rem);
  padding: 30px;

  /* display: flex; */
  flex-direction: column;
  /* justify-content: space-around; */
  flex: 1;
  min-width: 50%;
 
}



.ban-10 p{
  font-size: 18px;
}

.content-10 {
  /* padding-top: 20px;
  padding-bottom: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content-10 i{
 color:  rgb(119, 217, 230);
 font-size: 3rem;
 padding-right: 4px;
}


.ban-10-container h2 {
  line-height: 30px;
  text-align: center;
}

.ban-10-container p {
  font-size: 15px;
  padding-top: 14px;
  text-align: center;
}


.ban-10-container2 {
  margin: 0px auto;;
  border-radius: 10px;
  outline: none;
  position:relative center;
  padding: 30px;
  display: flex;
  justify-content: center;
  /* flex: 1; */
  overflow: hidden;
  min-width: 50%;
}

.ban-10-container2 iframe {
  min-width: 100%; 
  min-height: 100%; 
  object-fit: cover;
}


.how-it-works {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding-bottom: 10px;
  padding-top: 30px;
}
.how-it-works-btn {
  cursor: pointer;
  font-family: fantasy;
  font-size: 21px;
  font-weight: 300;
  color: rgba(119, 217, 230, 0.9);
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 4px solid rgba(119, 217, 230, 0.85);
  border-radius: 10px;
  padding: 8px 60px;
  backdrop-filter: blur 2rem;
  box-shadow: 3px 6px 3px rgb(119, 217, 230);
  text-shadow: rgba(255, 255, 255, 0.7) 1px 0 10px;
}

.ban-11-container {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:relative center;
  background: transparent;
  backdrop-filter: blur(.1rem);
  padding: 30px;
}


.ttas {
  max-width: 100%;
  width: 1440px;
  display: flex;
  /* flex: 1; */
  margin: 25px auto 25px;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.ttas i {
  font-size: 52px;
  padding-top: 80px;
  margin-right: -24px;
  margin-left: -24px;
  z-index: 555;
  cursor: pointer;
 
  /* color: rgb(119, 217, 230); */
}

.ttas a {
  color: rgb(119, 217, 230);
}

.ttas ul {
  width: 1156px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.ttas ul::-webkit-scrollbar {
  display: none;
}

.ttas ul > div{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 12px;
  font-size: 20px;
  /* flex: 0 1 0; */
  justify-content: center;
  align-items: center;
  flex: none;
}

.ttas ul > div:nth-child(n+2){
  padding-left: 12px;
}

.ttas ul img{
  width: 108px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgb(119, 217, 230);
  
}

/* .topics ul div {
} */

.ttas li {
  cursor: pointer;
}

.ttas-glass{
  position: relative;
  outline: none;
  color: rgb(119, 217, 230);
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 25px 25px;
  max-width: 198px;
  backdrop-filter: blur (0.2rem);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ttas-glass h4{
  padding-top: 10px;
  line-height: 21px;
}

 


.bg-image3{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px;
  outline: none;
  opacity: 50%;
}


.ttas-glass-bottom{
  position: relative;
  outline: none;
  color: rgb(119, 217, 230);
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 14px 14px;
  max-width: 198px;
  backdrop-filter: blur (0.2rem);
  height: 272px;
  margin-top: 20px;
}

.ttas-glass-bottom p{
  font-size: 15px;
  color: white;
  text-align: left;
}

.ban-12-container {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.2),rgba(244,244,242,0.1));
  backdrop-filter: blur(1rem);
  padding: 30px 30px 30px 30px;
}

.ban-12-container h2 {
  text-align: center;
  padding-bottom: 20px;
  
}

.ban-12-container span {
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.faq-all {
  width: 1156px;
  max-width: 100%;
  display: flex;
  margin: 25px auto;
  align-items: left;
  flex-direction: column;
  overflow: hidden;
}


.faq-all div{
  padding: 0px;

}

.faq-all div img{
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 5px 10px 5px whitesmoke;
}

.faq-all hr {
  margin-top: -20px;
}

.faq-all li.description .faq i {
  transform: rotate(-45deg);
}
/* .faq {
  
} */

.faq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.faq i {
  margin-top: 6px;
}


.faq-all p{
  margin-bottom: 0px;
  margin-top: 20px;
  display: none;
}

.faq-all li.description p{
  display: block;
}

.faq-all li br {
  padding-bottom: 20px;
}

.expand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.expand i {
  margin-top: 6px;
  margin-top: 6px;
}

.faq .description {
  color: #e399ff;
}

.ban-13-container {
  margin: 0px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position:absolute center;
  background: transparent;
  backdrop-filter: blur(.1rem);
  padding: 30px;
}


.content-13 {
  position: relative;
}

.faq-glasses {
  max-width: 100%;
  display: flex;
  flex: 1;
  margin: 25px auto;
  flex-direction: column;
  align-items: center;
}

.faq-glasses  ul{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 25px;
  padding: 10px;
  font-size: 20px;
  flex: 0 1 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.faq-glasses img{
  width: 108px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgb(119, 217, 230);
  
}


.faq-glass{
  position: relative;
  outline: none;
  color: rgb(119, 217, 230);
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px 30px;
  width: 372px;
  backdrop-filter: blur 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
  cursor: pointer;
}

.faq-glass i {
  font-size: 48px;
  margin-top: 40px;
}

.faq-glass h2 {
  margin-top: 30px;
}

.faq-glass p {
  color: white;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.faq-glass ul {
  padding-left: 30px;
  padding-bottom: 30px;
}

.faq-glass ul li {
  list-style-type: disc;
}


.faq-glass li {
  color: rgb(119, 217, 230);
  font-size: 15px;
  text-align: center;
  margin-bottom: 40px;
}



.footer-top{
  margin: auto;
  max-width: 1156px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-top h4 {
  margin-bottom: 6px;
}


.footer-logo {
  position: center;
  cursor: pointer;
  transition: scale 0.2 ease;
  display: flex;
  align-items: center;
}

.links {
  padding-right: 20px;
  padding-left: 20px;
}


.links {
  display: flex;
  justify-content: space-around;
  flex: 1;
}



.footer-top a {
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: left;
  color: white;
  font-size: 13px;
  flex: 0 0 1;

}

.footer-top .links a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 40px;

}

.social-media i {
  font-size: 24px;
  color: rgb(119, 217, 230);
}

.app-store {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.apps {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 10px;
}

.footer-container {
  position: relative;
  z-index: 100;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -3px;
  padding:30px; 
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  background: linear-gradient(to right bottom,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  backdrop-filter: blur(.2rem);

}

.footer {
  display: flex auto;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 4px;
  margin-bottom: -3px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  position: relative;
  background: linear-gradient(to right top,rgba(1,1,3,0.8),rgba(33,41,104,0.7));
  list-style: none;
  backdrop-filter: blur(.2rem);

}



.footer li, .footer span {
  padding-left: 10px;
}

.footer li a {
  text-decoration: none;
  color: white;
  font-size: 11px;
  padding-right: 10px;
}

.footer p {
  font-size: 10px;
  padding-top: 2px;
}

.footer-content {
  display:flex;
  flex: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0;
}

/* footer li {
  
} */

.footer hr {
  margin-top: 4px;
}